.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.error {
    background: #e5362a;
    padding: 10px;
}

.form-label {
    color: var(--text-secondary-color);
}

