.button {
	border-radius: 10px;
	padding: 8px 30px;
	font-size: 16px;
	font-weight: 400;
	font-family: inherit;
	cursor: pointer;
	border: none;
	color: var(--white-color);
	transition: background 0.25s;
}
.accenet:hover {
	background: var(--primary-hover-color);
}
.accenet {
	background: var(--primary-color);
}

small {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 10px 25px;
}

.big {
	font-size: 15px;
	text-transform: capitalize;
	padding: 20px 60px;
}
