.input {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    box-shadow: 15px 20px 45px 0px rgb(233, 233, 233, 0.25);
    padding: 10px 40px 10px 25px;
    font-family: 'Source Sans 3', sans-serif;
    border: 1px solid var(--separator-color);
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}





.input-title {
    font-size: 32px;
}

.search-icon {
    position: absolute;
    left: 8px;
    top: 50%        ;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    pointer-events: none;
    opacity: 0.6;
}


.input-search-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
}
